.product{
    width: 100%;
    /* height: 150vh; */
    /* min-height: 230vh; */
     background: #f5f5f5;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 15PX solid #444;
    box-shadow: 5PX 7PX 25px rgba(0,0,0,0.3);
}
.img img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.img img:hover{
    transform: scale(1.3);
}
.h-text{
     max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.h-text p{
    color: #444;
    line-height: 1.5rem;
   font-size: 15px;
margin-top: 20px;
font-family: 'works',sans-serif;
letter-spacing: 1px;
} 
.h-text h4{
    color: rgb(8, 35, 110);
     font-family: 'raleway',sans-serif;
     font-size: 2.5rem;
     font-style: initial;
}
 
 .chip{
     display: flex;
    justify-content: center;
 }
.chip button{
    cursor: pointer;
 border-radius: 25px;
 width: 100px;
 height: 50px;
    padding: 19px;
    background-color: orangered;
    opacity: 0.8;
    color: #fff;
     font-size: 13px;
     margin-bottom: 10px;
   }
 @media(max-width:2560px) {
  
    .chip button{
        cursor: pointer;
          display: block;
         font-size: 10px;
     }
    .product{
         min-height: 50vh;
     }
     .img{
        border-radius: 50%;
        overflow: hidden;
        border: 15PX solid #444;
        box-shadow: 5PX 7PX 25px rgba(0,0,0,0.3);
    }
}
 
@media(max-width:1440px) {
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 4rem;
    margin: 20px;
    gap: 30px;
    }
    .product{
        /* height: 310vh; */
        min-height: 80vh;
     }
    
    }

@media(max-width:1024px) {
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
    margin: 20px;
    gap: 10px;
    }
    .h-text{
        width: 100%;
        max-width: 100%;
       display: flex;
       flex-direction: column;
       text-align: center;
   }
    .product{
        height: 10vh;
        min-height: 100vh;
     }
    .img{
        width: 400px;
        height: 300px;
    }
    .chip button{
        cursor: pointer;
     border-radius: 25px;
     width: 100px;
     padding-top: 15px;
     height: 40px;
    }
}
@media(max-width:820px) {
    .product{
        width: 100%;
    height: 50vh;
        min-height: 30vh;
  }
}

@media(max-width:768px) {
   
    .product{
        width: 100%;
    height: 100%;
    min-height: 80vh;
 }
 .product h2{
    font-size: 1.7rem;
    text-align: center;
    /* margin-left:18vh; */
    color: #555;
    opacity: 0.5;
    padding-top: 20px;
    font-weight: 500;
  }
  
.img{
    width: 300px;
    height: 300px;
margin-left: 200px;
border-radius: 20px;
border: 5px solid #444;

}
 .contain_me{
    position: relative;
    display: block;
    text-align: center;
 }

 .h-text{
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    margin-left: 20px;
    text-align: center;
    flex-direction: column;
}
.h-text p{
    color: #444;
    line-height: 1.5rem;
   font-size: 17px;
   margin-right: 0;
   margin-bottom: 40px;
   /* letter-spacing: 1.5px; */
} 
.h-text h4{
    color: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 30px;
    margin-right: 0;
}
.chip button{
    cursor: pointer;
 border-radius: 25px;
 width: 100px;
 padding-top: 15px;
 height: 40px;
}
}


@media(max-width:701px){
    .h-text h4{
        color: #222;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        line-height: 30px;
        margin-right: 0;
        margin-left:20px;
        font-weight: bold;
        max-width: 700px;
        text-align: left;
    }
    .h-text p{
        color: #444;
        line-height: 30px;
       font-size: 14px;
       opacity: 0.7;
       font-weight: 100;
       /* text-align: left; */
       margin-right: 0;
       margin-bottom: 20px;
     } 
     .img{
        width: 300px;
        height: 300px;
    margin-left: 180px;
    border-radius: 20px;
    margin-right: 30px;
    border: 5px solid #444;
    
    }
}
@media(max-width:649px){
    .img{
    margin-left: 150px;
    }
    .h-text h4{
        color: #222;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.6rem;
        line-height: 30px;
        margin-right: 0;
        margin-left:20px;
        font-weight: bold;
        max-width: 700px;
    }
    .h-text p{
        color: #444;
        line-height: 30px;
       font-size: 14px;
       opacity: 0.7;
       font-weight: 100;
       /* text-align: left; */
       margin-right: 0;
       margin-bottom: 20px;
     } 
}
@media(max-width:604px){
    .h-text h4{
        margin-left:10px;
         max-width: 900px;
    }
    .product{
        width: 100%;
    min-height: 135vh;
 }
 .h-text p{
   font-size: 13px;
 } 

}
@media(max-width:583px){
    .product{
        width: 100%;
    min-height: 127vh;
 }
    .h-text h4{
        margin-left:0px;
         /* max-width: 100%; */
    }
    .h-text p{
        color: #444;
        line-height: 25px;
       font-size: 13px;
       opacity: 0.7;
       margin-left: -10px;
       font-weight: 100;
       /* text-align: left; */
       margin-right: 0;
       margin-bottom: 20px;
     } 
    .img{
        width: 250px;
        height: 250px;
    margin-left: 150px;
    }
 
}
@media(max-width:541px){
    .img{
        width: 250px;
        height: 250px;
    margin-left: 120px;
border-radius: 50%;    
}
}
@media(max-width:467px){
    .product{
        width: 100%;
    min-height: 87vh;
 }
    .img{
        display: none;
        /* visibility: hidden; */
    }
}
@media(max-width:452px) {
    .h-text{
        margin-left: 0px;
    }
    .h-text p{
      color: #444;
      line-height: 20px;
     font-size: 11px;
     opacity: 0.7;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 500;
     text-align: center;
     font-style: inherit;
     margin-right: 0;
     margin-bottom: 20px;
   } 
}
@media(max-width:425px){
  
    .product{
        height: 20vh;
        min-height: 95vh;
     }
     
 .h-text{
    margin-top: 30px;
    margin-left: 0px;  
}
.h-text p{
    color: #444;
    line-height: 30px;
   font-size: 15px;
   text-align: left;
   opacity: 0.9;
   font-weight: 500;
   /* text-align: left; */
   margin-right: 0;
   margin-left: 5px;
   margin-bottom: 20px;
 } 
    .img{
        display: none;
    }
    .container{
          
        padding-top: 0rem;
    }
}
@media(max-width:400px){
    .product{
        min-height: 86vh;
     }
     .h-text p{
        line-height: 25px;
        font-size: 13px;
        opacity: 0.7;
        font-weight: 100;
    } 
     
}

@media(max-width:375px){
    .product{
        min-height: 95vh;
     }
    .move button{
        top: 53rem;
        left: -65px;
        margin-left: 150px;
        }  
        .h-text h4{
            color: #222;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            line-height: 35px;
            text-align: left;
            margin-right: 0;
        }
        .product h2{
            font-size: 1.7rem;
            text-align: left;
            margin-left:25px;
            color: #555;
            opacity: 0.5;
            padding-top: 20px;
            font-weight: 500;
          }
        .img{
            display: none;
        }
        .img img{
            display: none;
        } 
        .container{
          
            padding-top: 0rem;
        }
        .h-text p{
             line-height: 25px;
            font-size: 13px;
            opacity: 0.9;
            font-weight: 500;
            text-align: left;
            margin-bottom: 10px;
        } 
         
}
@media(max-width:320px){
    .product{
        min-height: 85vh;
     }
    .product h2{
        font-size: 13px;
      }
      .h-text h4{
        color: #222;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1rem;
        line-height: 30px;
        margin-right: 0;
    }
    .h-text p{
        line-height: 25px;
        font-size: 10.6px;
        opacity: 0.8;
        /* padding: 3px; */
        font-weight: 500;
    } 
    .chip button{
      border-radius: 5px;
     width: 60px;
     font-size: 10px;
     padding-top: 0px;
     padding: 0px;
     height: 30px;
    }
}